<TMPL_IF NAME="link"><a href="<TMPL_VAR link>" ></TMPL_IF><img src="<TMPL_VAR src>" width="<TMPL_VAR width>" height="<TMPL_VAR height>" <TMPL_IF NAME="alt" >alt="<TMPL_VAR alt>"</TMPL_IF><TMPL_IF NAME="title" >title="<TMPL_VAR title>"</TMPL_IF><TMPL_IF NAME="class" >class="<TMPL_VAR class>"</TMPL_IF><TMPL_IF NAME="id" >id="<TMPL_VAR id>"</TMPL_IF><TMPL_IF NAME="hspace" >hspace="<TMPL_VAR hspace>"</TMPL_IF><TMPL_IF NAME="vspace">vspace="<TMPL_VAR vspace>"</TMPL_IF>/><TMPL_IF NAME="link"></a></TMPL_IF>
