<form action="https://duckduckgo.com/" id=searchform
      onsubmit="document.getElementById('searchbox').value += ' site:<TMPL_VAR URL>';">
  <div>
    <input type="text" autocomplete="off" name="q" id="searchbox" value="" size=16 placeholder="Search with DuckDuckGo" />
  </div>
</form>
